.navheader{
    /* margin: 0 auto;
    margin-left: 210px; */
    
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 88px;
	background: #FFFFFF;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 50px;
}

