.navheader{
    /* margin: 0 auto;
    margin-left: 210px; */
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 88px;
	background: #FFFFFF;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 50px;
    z-index: 49;
}


@media screen and (min-width: 768px) {
    .profile{
        display: flex;
    }
    .menu{
        display: none;
    }
}
/* mobile */
@media screen and (max-width: 768px) {
    .profile{
        display: none;
    }
    .menu{
        display: flex;
    }
}

